{% extends 'PrestaCMSCoreBundle:Block:base_block.html.twig' %}

{% block block %}

    {% if service %}
    <h1>{{ service.title }}</h1>

    {% media service.image, 'page_content' %}

    <div class="service well well-large">
        {{ service.description | raw }}
    </div>
    {% else %}
    <h1>Service not found</h1>

    <div class="service well well-large">
        This page can contain a dynamic service and can be managed by a standard sonata CRUD.
        Please list thoses services from the breadcrumb.
    </div>
    {% endif %}
{% endblock %}
